@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:'Satoshi' ;
  src: url("../public/fonts/satoshi.ttf");
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}